apiVersion: v1
kind: Service
metadata:
  name: opensearch
  namespace: opensearch
  labels:
    app.kubernetes.io/name: opensearch
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: opensearch
  ports:
    - name: http
      port: 9200
      targetPort: 9200
      protocol: TCP
    - name: transport
      port: 9300
      targetPort: 9300
      protocol: TCP
    - name: metrics
      port: 9600
      targetPort: 9600
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: opensearch-headless
  namespace: opensearch
  labels:
    app.kubernetes.io/name: opensearch
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: opensearch
  ports:
    - name: http
      port: 9200
      targetPort: 9200
    - name: transport
      port: 9300
      targetPort: 9300
